<!--<!-- BEGIN CONTENT BODY -->
<div class="page-content" style="min-height: 1547px">
    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE TITLE-->
    <h3 class="page-title">
        Сервиз за компютърна техника
    </h3>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-line boxless tabbable-reversed">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#service-search" data-toggle="tab"> Търси по номер </a>
                    </li>
                    <li>
                        <a href="#service-orders" data-toggle="tab"> Поръчки </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="service-search">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i>Сервизни поръчки
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                    <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                                    <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form ng-submit="vm.submit()"
                                      class="form-horizontal">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Сервизна поръчка №</label>
                                            <div class="col-md-4">
                                                <input ng-model="vm.formOrder.id"
                                                       type="text"
                                                       class="form-control input-circle"
                                                       placeholder="Enter text">
                                                <span class="help-block" align="center">
                                                    Номерът на поръчката ще намерите <br>
                                                    във Вашата сервизна поръчка.
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-body">
                                        <div class="form-group">
                                            <!--<label class="col-md-3 control-label">БоТ?</label>-->
                                            <div class="col-md-4 col-md-offset-3">
                                                <div vc-recaptcha
                                                     theme="light"
                                                     key="vm.model.key"
                                                     on-create="vm.setWidgetId(widgetId)"
                                                     on-success="vm.setResponse(response)"
                                                     on-expire="vm.cbExpiration()">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-circle green">Submit</button>
                                                <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- END FORM-->
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="service-orders">
                        <div class="portlet box green">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-gift"></i>Сервизни поръчки
                                </div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                    <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                                    <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                                </div>
                            </div>
                            <div class="portlet light portlet-fit portlet-datatable bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class=" icon-layers font-green"></i>
                                        <span class="caption-subject font-green sbold uppercase">Sample Datatable</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-cloud-upload"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-wrench"></i>
                                        </a>
                                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="sample_2_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="row"><div class="col-md-6 col-sm-6"><div class="dataTables_length" id="sample_2_length"><label>Show <select name="sample_2_length" aria-controls="sample_2" class="form-control input-sm input-xsmall input-inline"><option value="5">5</option><option value="15">15</option><option value="20">20</option><option value="-1">All</option></select></label></div></div><div class="col-md-6 col-sm-6"><div id="sample_2_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm input-small input-inline" placeholder="" aria-controls="sample_2"></label></div></div></div><div class="table-scrollable">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_2" role="grid" aria-describedby="sample_2_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="table-checkbox sorting_disabled" rowspan="1" colspan="1" aria-label="
                                                            " style="width: 45px;">
                                                            <div class="checker"><span><input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes"></span></div>
                                                        </th>
                                                        <th class="sorting_asc" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Username
                                                            activate to sort column descending" style="width: 84px;">Username</th>
                                                        <th class="sorting" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label=" Email
                                                            activate to sort column ascending" style="width: 137px;">Email</th>
                                                        <th class="sorting" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" aria-label=" Status
                                                            activate to sort column ascending" style="width: 65px;">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>












                                                    <tr class="gradeX odd" role="row">
                                                        <td>
                                                            <div class="checker"><span><input type="checkbox" class="checkboxes" value="1"></span></div>
                                                        </td>
                                                        <td class="sorting_1"> coop </td>
                                                        <td>
                                                            <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                                                        </td>
                                                        <td>
                                                            <span class="label label-sm label-success"> Approved </span>
                                                        </td>
                                                    </tr>
                                                    <tr class="gradeX even" role="row">
                                                        <td>
                                                            <div class="checker"><span><input type="checkbox" class="checkboxes" value="1"></span></div>
                                                        </td>
                                                        <td class="sorting_1"> foopl </td>
                                                        <td>
                                                            <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                                                        </td>
                                                        <td>
                                                            <span class="label label-sm label-success"> Approved </span>
                                                        </td>
                                                    </tr>
                                                    <tr class="gradeX odd" role="row">
                                                        <td>
                                                            <div class="checker"><span><input type="checkbox" class="checkboxes" value="1"></span></div>
                                                        </td>
                                                        <td class="sorting_1"> looper </td>
                                                        <td>
                                                            <a href="mailto:looper90@gmail.com"> looper90@gmail.com </a>
                                                        </td>
                                                        <td>
                                                            <span class="label label-sm label-warning"> Suspended </span>
                                                        </td>
                                                    </tr>
                                                    <tr class="gradeX even" role="row">
                                                        <td>
                                                            <div class="checker"><span><input type="checkbox" class="checkboxes" value="1"></span></div>
                                                        </td>
                                                        <td class="sorting_1"> pppol </td>
                                                        <td>
                                                            <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                                                        </td>
                                                        <td>
                                                            <span class="label label-sm label-success"> Approved </span>
                                                        </td>
                                                    </tr>
                                                    <tr class="gradeX odd" role="row">
                                                        <td>
                                                            <div class="checker"><span><input type="checkbox" class="checkboxes" value="1"></span></div>
                                                        </td>
                                                        <td class="sorting_1"> restest </td>
                                                        <td>
                                                            <a href="mailto:userwow@gmail.com"> test@gmail.com </a>
                                                        </td>
                                                        <td>
                                                            <span class="label label-sm label-success"> Approved </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><div class="row"><div class="col-md-5 col-sm-5"><div class="dataTables_info" id="sample_2_info" role="status" aria-live="polite">Showing 1 to 5 of 12 records</div></div><div class="col-md-7 col-sm-7"><div class="dataTables_paginate paging_bootstrap_extended" id="sample_2_paginate"><div class="pagination-panel"> Page <a href="#" class="btn btn-sm default prev disabled"><i class="fa fa-angle-left"></i></a><input type="text" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5" style="text-align:center; margin: 0 5px;"><a href="#" class="btn btn-sm default next"><i class="fa fa-angle-right"></i></a> of <span class="pagination-panel-total">3</span></div></div></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT BODY -->-->