<header id="topNav">
    <div class="container">
        <!--<a class="logo" href="/">
            <img src="/content/images/telerik-logo.png" width="50" height="50" alt="" class="margin-right-5 logo-image" />
            <div class="logo-text-container">
                <div class="font-size-14em">Telerik Academy</div>
                <div class="text-center padding-right-10">Showcase</div>
            </div>
        </a>
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>
        <form class="search" method="get">
            <input type="text" class="form-control" ng-model="vm.searchTerm" name="s" value="" placeholder="Search">
            <button class="fa fa-search" ng-click="vm.search(vm.searchTerm)"></button>
        </form>-->
        <div main-menu></div>
    </div>
</header>