    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="/">
            <img src="../../theme/metronicv401/assets/admin/layout/img/logo.png" alt="logo" class="logo-default">
        </a>
    </div>
        <!-- END LOGO -->
        <!-- BEGIN HORIZANTAL MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) sidebar menu below. So the horizontal menu has 2 seperate versions -->
        <div class="hor-menu hidden-sm hidden-xs">
            <ul class="nav navbar-nav">
                <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
                <li class="classic-menu-dropdown active">
                    <a href="/">
                        Home <span class="selected">
                        </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown">
                    <a href="/administration">
                        Administration <span class="selected">
                        </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown">
                    <a href="/products">
                        Products <span class="selected">
                        </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown">
                    <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true" class="hover-initialized">
                        Classic <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-bookmark-o"></i> Section 1
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-user"></i> Section 2
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-puzzle-piece"></i> Section 3
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-gift"></i> Section 4
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-table"></i> Section 5
                            </a>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:;">
                                <i class="fa fa-envelope-o"></i> More options
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:;">
                                        Second level link
                                    </a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:;">
                                        More options
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="index.html">
                                                Third level link
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html">
                                                Third level link
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html">
                                                Third level link
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html">
                                                Third level link
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html">
                                                Third level link
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index.html">
                                        Second level link
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        Second level link
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        Second level link
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- BEGIN LOGIN FORM -->
                <li ng-if="!vm.currentUser">
                    <a href="/login" class="btn">
                        Вход
                        <i class="fa fa-user"></i>
                    </a>
                </li>
                <!-- END LOGIN FORM -->
            </ul>
        </div>
        <!-- END HORIZANTAL MENU -->
        <!-- BEGIN HEADER SEARCH BOX -->
        <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
        <form class="search-form" action="extra_search.html" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                </span>
            </div>
        </form>

        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                 <li class="dropdown dropdown-user" ng-if="vm.currentUser">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true">
                    <!--<img width="20" height="20" class="margin-right-5 img-rounded" ng-src="{{vm.currentUser.data.avatarUrl}}"/>-->
                    <span class="username username-hide-on-mobile">
                        {{vm.currentUser.userName}}
                    </span>
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="/users/{{vm.currentUser.userName}}">
                            <i class="icon-user"></i> My Profile
                        </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a ng-click="vm.logout()">
                            <i class="fa fa-angle-right"></i> Logout
                        </a>
                    </li>
                </ul>
                 </li>
                <!-- END USER LOGIN DROPDOWN -->
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
    <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->