    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="/">
            <img src="../../theme/metronicv401/assets/admin/layout/img/logo.png" alt="logo" class="logo-default">
        </a>
    </div>
        <!-- END LOGO -->
        <!-- BEGIN HORIZANTAL MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) sidebar menu below. So the horizontal menu has 2 seperate versions -->
        <div class="hor-menu hidden-sm hidden-xs">
            <ul class="nav navbar-nav">
                <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
                <li class="classic-menu-dropdown active">
                    <a href="/">
                        Начало <span class="selected">
                        </span>
                    </a>
                </li>
                <li class="classic-menu-dropdown">
                    <a href="/about">
                        За нас
                    </a>
                </li>
                <li class="classic-menu-dropdown">
                    <a href="/contacts">
                        За Контакти
                    </a>
                </li>
                <li class="classic-menu-dropdown">
                    <a href="/products">
                        Продукти
                    </a>
                </li>
                <li ng-if="vm.isAdmin" 
                    class="classic-menu-dropdown">
                    <a data-toggle="dropdown"
                       href="javascript:;"
                       data-hover="megamenu-dropdown"
                       data-close-others="true" 
                       class="hover-initialized">
                       Администрация <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-left">
                        <li class="dropdown-header">Сервиз</li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-bookmark-o"></i> Клиентски карти
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-user"></i> Категории
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-puzzle-piece"></i> Клиенти
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Потребители</li>
                        <li>
                            <a href="/administration/users">
                                <i class="fa fa-gift"></i> Потребители
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Склад</li>
                        <li class="dropdown-submenu">
                            <a href="javascript:;">
                                <i class="fa fa-envelope-o"></i> Склад
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:;">
                                        Лаптопи
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        Компютри
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        Принтери
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- BEGIN LOGIN FORM -->
                <li ng-if="!vm.currentUser">
                    <a href="/login" class="btn">
                        Вход
                        <i class="fa fa-user"></i>
                    </a>
                </li>
                <!-- END LOGIN FORM -->
            </ul>
        </div>
        <!-- END HORIZANTAL MENU -->
        <!-- BEGIN HEADER SEARCH BOX -->
        <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
        <form class="search-form" action="extra_search.html" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." name="query">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                </span>
            </div>
        </form>
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                 <li class="dropdown dropdown-user" ng-if="vm.currentUser">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true">
                    <!--<img width="20" height="20" class="margin-right-5 img-rounded" ng-src="{{vm.currentUser.data.avatarUrl}}"/>-->
                    <span class="username username-hide-on-mobile">
                        Здравей, {{vm.currentUser.userName}}!
                    </span>
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="/users/{{vm.currentUser.userName}}">
                            <i class="icon-user"></i> Моя профил
                        </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a ng-click="vm.logout()">
                            <i class="fa fa-angle-right"></i> Изход
                        </a>
                    </li>
                </ul>
                 </li>
                <!-- END USER LOGIN DROPDOWN -->
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
    <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->