<!-- BEGIN CONTENT BODY -->
 <div class="page-content" style="min-height:978px">
     <!-- BEGIN MEMBERS SUCCESS STORIES -->
     <div class="row margin-bottom-40 stories-header" data-auto-height="true">
            <div class="col-md-12">
                <h1>Members Success Stories</h1>
                <h2>Life is either a great adventure or nothing</h2>
            </div>
        </div>
     <div class="row margin-bottom-20 stories-cont">
            <div class="col-lg-3 col-md-6">
                <div class="portlet light">
                    <div class="photo">
                        <img src="../assets/pages/media/users/teambg1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="title">
                        <span> Mark Wahlberg </span>
                    </div>
                    <div class="desc">
                        <span> We are at our very best, and we are happiest, when we are fully engaged in work we enjoy on the journey toward the goal we've established for ourselves. </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="portlet light">
                    <div class="photo">
                        <img src="../assets/pages/media/users/teambg2.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="title">
                        <span> Lindsay Lohan </span>
                    </div>
                    <div class="desc">
                        <span> Do what you love to do and give it your very best. Whether it's business or baseball, or the theater, or any field. If you don't love what you're doing and you can't give it your best, get out of it. </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="portlet light">
                    <div class="photo">
                        <img src="../assets/pages/media/users/teambg5.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="title">
                        <span> John Travolta </span>
                    </div>
                    <div class="desc">
                        <span> To be nobody but yourself in a world which is doing its best, to make you everybody else means to fight the hardest battle which any human being can fight; and never stop fighting. </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="portlet light">
                    <div class="photo">
                        <img src="../assets/pages/media/users/teambg8.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="title">
                        <span> Tom Brady </span>
                    </div>
                    <div class="desc">
                        <span> You have to accept whatever comes and the only important thing is that you meet it with courage and with the best that you have to give. Never give up, never surrender. Go all out or gain nothing. </span>
                    </div>
                </div>
            </div>
        </div>
     <div class="row margin-bottom-40 stories-footer">
            <div class="col-md-12">
                <button type="button" class="btn btn-danger">SEE MORE STORIES</button>
            </div>
        </div>
     <!-- END MEMBERS SUCCESS STORIES -->

 </div>
<!-- END CONTENT BODY -->